/*
 #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tallyListContainer {
	border: 0px solid red;
	height: 50vh;
	overflow-y: scroll;
	padding: 1rem; 
	line-height: 1.6;
}

.tallyList {
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-align: left;
}
*/
